In [44]:
# data
import pandas as pd

ex_df = pd.read_csv('external_env_data.csv')
in_df = pd.read_csv('internal_env_data.csv')
control_df = pd.read_csv('control_data.csv')

In [45]:
# copy
ex_df_copy = ex_df.copy()
in_df_copy = in_df.copy()
control_df_copy = control_df.copy()

In [47]:
# rename
control_df_copy.rename(columns = {'upWin0L4' : 'upWinL04'}, inplace = True)

In [49]:
# If there is no rain or snow, data is not recorded.
# Separately handle missing data
env = ex_df_copy[['datetime', 'temperature', 'windSpeed',
       'windDirection', 'humidity', 'solar', 'groundTemp']]
env_clean = env.dropna(axis=0)
weather = ex_df_copy[['datetime', 'precipitation', 'snowfall']]

In [50]:
# Merge internal and external environmental data
all_df = pd.merge(env_clean, in_df_copy, on='datetime', how='left')
all_2df = pd.merge(all_df, weather, on='datetime', how='left')

In [51]:
# Change control data by time
control_df_copy['min'] = control_df_copy['datetime'].map(lambda x : (str(x)[14:16]))
control_df_copy_hour = control_df_copy[control_df_copy['min'] == '00']

In [52]:
# Remove unnecessary columns from control data
control_df_copy_hour_clean = control_df_copy_hour.drop(columns=[
    'siWinR01', 'siWinR02', 'siWinR03', 'siWinR04', 'upCurt01',
    'upCurt02', 'upCurt03', 'upCurt04', 'dnCurt01', 'dnCurt02', 
    'dnCurt03','dnCurt04', 'siCurt01', 'siCurt02', 'siCurt03', 
    'siCurt04','Unnamed: 29', 'min'])

In [54]:
# Merge all data
merge = pd.merge(control_df_copy_hour_clean, all_2df, how = 'outer', on = 'datetime')

,datetime,upWinL01,upWinL02,upWinL03,upWinL04,upWinR01,upWinR02,upWinR03,upWinR04,siWinL01,...,windSpeed,windDirection,humidity,solar,groundTemp,innerCO2,innerHum,innerTemp,precipitation,snowfall
0,2023-09-20 14:00,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,...,2.6,70.0,96.0,2.00,22.2,10.67,100.00,20.67,10.5,NaN
1,2023-09-20 15:00,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,...,1.4,110.0,98.0,11.20,21.8,14.00,100.00,20.80,16.3,NaN
2,2023-09-20 16:00,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,...,1.8,340.0,99.0,0.00,21.4,6.83,100.00,20.50,25.3,NaN
3,2023-09-20 17:00,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,...,1.9,70.0,98.0,0.00,21.6,5.17,100.00,20.17,19.0,NaN
4,2023-09-20 18:00,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,...,1.6,50.0,99.0,0.00,21.5,5.00,100.00,20.83,15.9,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4458,2024-04-26 5:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.3,0.0,100.0,0.00,13.0,367.67,76.58,8.96,NaN,NaN
4459,2024-04-26 6:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.2,0.0,100.0,31.83,13.3,345.67,76.17,9.83,NaN,NaN
4460,2024-04-26 7:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.6,320.0,100.0,109.50,14.3,269.83,78.83,13.33,NaN,NaN
4461,2024-04-26 8:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.1,0.0,100.0,300.17,16.3,197.00,76.67,17.25,NaN,NaN
4462,2024-04-26 9:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,270.0,87.0,432.00,20.0,225.83,76.00,18.67,NaN,NaN

In [55]:
# save
merge.to_csv('merge.csv')